<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>SOMns</string>
	<key>ordering</key>
	<array>
		<string>3791d52d-e561-4fb3-bb65-9c6b84ea333d</string>
		<string>5487c78a-d09f-4d28-b198-b11543cb917b</string>
		<string>80dcfe6d-ef82-4244-bdbc-7d77b86bd207</string>
	</array>
	<key>uuid</key>
	<string>fb477f09-6922-41a3-af11-2efff9db84b1</string>
</dict>
</plist>
